<form>
  <label>Email</label>
  {{input placeholder='Enter Login'}}
  <label>Password</label>
  {{input placeholder='Enter Password' type='password'}}
  <button {{action 'login'}}>Login</button>
</form>